<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File Ship</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include('../partials/dashboardNavbar')%>

    <div>
        <a href="/createFolder">Create a New Folder</a>

        <div>
            
        </div>
    </div>

</body>