<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File Ship</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include('../partials/dashboardNavbar')%>

    <div class="dashbordContainer">
        <div class="dashboardHeader">
            <h4> All Folders </h4>
            <div>
                <a class="button createFolderButton" href="/create-folder">Create a New Folder</a>
            </div>
        </div>
            
        <div>

        </div>
    </div>

</body>