<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add File Form</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body class="form-body">
    <div class="form-container">
        <h1 class="form-header">Add File</h1>
        
        <form id="CreateFile" action="/create-file" method="POST">

            <div class="form-group">
                <label for="file">Upload your File:<span>*</span></label>
                <input type="file" id="file" name="file" required>
            </div>

            <button class="submit" type="submit">Add New File</button>
        </form>

    </div>
</body>